body {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 150%;
position: relative;
width: 100vw;
overflow-x: hidden;

}

p{ 
font-weight: 400;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0 1% 2% 1%;

}


h4 {
font-size: 90%;
margin: 0 1%;
color: rgb(86, 86, 86);
font-style: oblique;
}

/* dont touch h2 it's weird*/
h2 {}

/*used as heading for a section text*/
h3 {

color: white;
background-color: black;
background-image: url('../assets/texturefabrik-photocopy_5_06-scaled.webp');
max-width: 4em;
padding: 0 0.3em;
margin: 0 1%;
font-family: "Roboto", sans-serif;
font-weight: 900;
font-stretch: condensed;
font-size: 400%;

}

/*used for small text describing something*/ 
h4 {
font-family: "Metrophobic", sans-serif;
margin: 0 1%;
font-size: 140%;
font-weight: 120;

}

nav a {
text-decoration: none;
display: block;
  padding: 2rem 2rem 0rem 0rem;
/* padding: .85rem 1rem; */
color: #ffffff;

}
nav #name a {
text-decoration: unset;
display: unset;
padding: unset;
color: unset;

}


.menu_desktop {
font-family: "Roboto", sans-serif;
font-weight: 300;
font-size: 2.5vw;

}

.menu h2 {
font-family: "Roboto", sans-serif;
font-weight: 600;
font-size: 200%;

}


footer p {
font-style: italic;
    align-content: center;

}


@media only screen and (min-width: 601px) {




h4 {
font-weight: 400;
font-size: 90%;
margin: 0 1%;
color: rgb(86, 86, 86);
font-style: oblique;
}


p{
font-size: 120%;    
font-weight: 350;
}

h3 {

min-width:5em;

}


}